@model IEnumerable<XnetIT.Models.assign_engineer>

@{
    ViewBag.Title = "ViewJobAssigns";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Job Assigns</h2>
<hr/>

<ul class="nav nav-tabs">

    <li>@Html.ActionLink("Engineers", "Index")</li>
    <li class="active">@Html.ActionLink("View Assigned Details", "ViewJobAssigns")</li>

</ul>

<table class="table">
    <tr>
        <th>
            Date
        </th>
        <th>
            Time
        </th>
        <th>
            Engineer's Name
        </th>
        <th>
            Job
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @DateTime.Parse(Html.DisplayFor(modelItem => item.assign_date).ToString()).ToShortDateString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.assign_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.engineer.e_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.job.title)
        </td>
    </tr>
}

</table>
