@model IEnumerable<XnetIT.Models.item>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inventory</h2>

<p>
    @Html.ActionLink("Add New Item", "Create")
</p>
<table class="table table-striped table-hover" id="inventoryTable">
    <tr>
        <th>
            State
        </th>
        <th>
            Model Number
        </th>
        <th>
            Serial Number
        </th>
        <th>
            Availability
        </th>
        <th>
            Status
        </th>
        <th>
            Options
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="success">
            <td>
                @Html.DisplayFor(modelItem => item.i_state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.model_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.serial_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.i_availability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.i_status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.i_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.i_id })
            </td>
        </tr>
    }

</table>